<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[OK]</key>
	<string>069@2x.png</string>
	<key>[V5]</key>
	<string>062@2x.png</string>
	<key>[good]</key>
	<string>067@2x.png</string>
	<key>[下雨]</key>
	<string>109@2x.png</string>
	<key>[不要]</key>
	<string>065@2x.png</string>
	<key>[丢笑]</key>
	<string>040@2x.png</string>
	<key>[乌云]</key>
	<string>103@2x.png</string>
	<key>[书呆子]</key>
	<string>036@2x.png</string>
	<key>[互粉]</key>
	<string>057@2x.png</string>
	<key>[亲亲]</key>
	<string>032@2x.png</string>
	<key>[伤心]</key>
	<string>077@2x.png</string>
	<key>[傲慢]</key>
	<string>025@2x.png</string>
	<key>[兔子]</key>
	<string>042@2x.png</string>
	<key>[冰棍]</key>
	<string>078@2x.png</string>
	<key>[叮]</key>
	<string>010@2x.png</string>
	<key>[可怜]</key>
	<string>022@2x.png</string>
	<key>[可爱]</key>
	<string>021@2x.png</string>
	<key>[右哼哼]</key>
	<string>050@2x.png</string>
	<key>[吃惊]</key>
	<string>008@2x.png</string>
	<key>[吐]</key>
	<string>041@2x.png</string>
	<key>[呵呵]</key>
	<string>017@2x.png</string>
	<key>[咖啡]</key>
	<string>085@2x.png</string>
	<key>[哈哈]</key>
	<string>014@2x.png</string>
	<key>[哼]</key>
	<string>019@2x.png</string>
	<key>[啤酒]</key>
	<string>082@2x.png</string>
	<key>[嘘]</key>
	<string>047@2x.png</string>
	<key>[嘻嘻]</key>
	<string>046@2x.png</string>
	<key>[囍]</key>
	<string>063@2x.png</string>
	<key>[囧]</key>
	<string>058@2x.png</string>
	<key>[困]</key>
	<string>024@2x.png</string>
	<key>[围脖]</key>
	<string>094@2x.png</string>
	<key>[围观]</key>
	<string>095@2x.png</string>
	<key>[太开心]</key>
	<string>039@2x.png</string>
	<key>[太阳]</key>
	<string>106@2x.png</string>
	<key>[失望]</key>
	<string>034@2x.png</string>
	<key>[奥特曼]</key>
	<string>002@2x.png</string>
	<key>[女孩儿]</key>
	<string>030@2x.png</string>
	<key>[委屈]</key>
	<string>044@2x.png</string>
	<key>[实习]</key>
	<string>090@2x.png</string>
	<key>[害羞]</key>
	<string>015@2x.png</string>
	<key>[左哼哼]</key>
	<string>055@2x.png</string>
	<key>[左怪脸]</key>
	<string>054@2x.png</string>
	<key>[帅]</key>
	<string>061@2x.png</string>
	<key>[帽子]</key>
	<string>096@2x.png</string>
	<key>[弱]</key>
	<string>071@2x.png</string>
	<key>[微风]</key>
	<string>107@2x.png</string>
	<key>[怒]</key>
	<string>028@2x.png</string>
	<key>[怒骂]</key>
	<string>029@2x.png</string>
	<key>[思考]</key>
	<string>038@2x.png</string>
	<key>[悲伤]</key>
	<string>004@2x.png</string>
	<key>[感冒]</key>
	<string>012@2x.png</string>
	<key>[愤怒]</key>
	<string>011@2x.png</string>
	<key>[手套]</key>
	<string>092@2x.png</string>
	<key>[手机]</key>
	<string>091@2x.png</string>
	<key>[打哈欠]</key>
	<string>009@2x.png</string>
	<key>[抓狂]</key>
	<string>052@2x.png</string>
	<key>[抠鼻]</key>
	<string>043@2x.png</string>
	<key>[拜拜]</key>
	<string>003@2x.png</string>
	<key>[拳头]</key>
	<string>070@2x.png</string>
	<key>[握手]</key>
	<string>072@2x.png</string>
	<key>[无语]</key>
	<string>018@2x.png</string>
	<key>[晕]</key>
	<string>051@2x.png</string>
	<key>[最差]</key>
	<string>075@2x.png</string>
	<key>[月亮]</key>
	<string>112@2x.png</string>
	<key>[来]</key>
	<string>068@2x.png</string>
	<key>[汗]</key>
	<string>016@2x.png</string>
	<key>[汽车]</key>
	<string>089@2x.png</string>
	<key>[沙尘暴]</key>
	<string>105@2x.png</string>
	<key>[照相]</key>
	<string>099@2x.png</string>
	<key>[熊猫]</key>
	<string>045@2x.png</string>
	<key>[爱你]</key>
	<string>001@2x.png</string>
	<key>[爱心]</key>
	<string>076@2x.png</string>
	<key>[猪头]</key>
	<string>053@2x.png</string>
	<key>[生病]</key>
	<string>033@2x.png</string>
	<key>[男孩儿]</key>
	<string>027@2x.png</string>
	<key>[疑问]</key>
	<string>049@2x.png</string>
	<key>[睡觉]</key>
	<string>037@2x.png</string>
	<key>[礼物]</key>
	<string>087@2x.png</string>
	<key>[神马]</key>
	<string>060@2x.png</string>
	<key>[累]</key>
	<string>026@2x.png</string>
	<key>[红领带]</key>
	<string>083@2x.png</string>
	<key>[织]</key>
	<string>064@2x.png</string>
	<key>[给力]</key>
	<string>056@2x.png</string>
	<key>[绿领带]</key>
	<string>088@2x.png</string>
	<key>[网球]</key>
	<string>093@2x.png</string>
	<key>[肥皂]</key>
	<string>066@2x.png</string>
	<key>[胜利]</key>
	<string>073@2x.png</string>
	<key>[自行车]</key>
	<string>101@2x.png</string>
	<key>[花心]</key>
	<string>020@2x.png</string>
	<key>[萌]</key>
	<string>059@2x.png</string>
	<key>[落叶]</key>
	<string>104@2x.png</string>
	<key>[蛋糕]</key>
	<string>079@2x.png</string>
	<key>[蜡烛]</key>
	<string>086@2x.png</string>
	<key>[衰]</key>
	<string>035@2x.png</string>
	<key>[西瓜]</key>
	<string>097@2x.png</string>
	<key>[话筒]</key>
	<string>084@2x.png</string>
	<key>[赞]</key>
	<string>074@2x.png</string>
	<key>[足球]</key>
	<string>102@2x.png</string>
	<key>[鄙视]</key>
	<string>005@2x.png</string>
	<key>[酷]</key>
	<string>023@2x.png</string>
	<key>[钟表]</key>
	<string>100@2x.png</string>
	<key>[钱]</key>
	<string>031@2x.png</string>
	<key>[闭嘴]</key>
	<string>006@2x.png</string>
	<key>[阴险]</key>
	<string>048@2x.png</string>
	<key>[雪]</key>
	<string>110@2x.png</string>
	<key>[雪人]</key>
	<string>111@2x.png</string>
	<key>[音乐]</key>
	<string>098@2x.png</string>
	<key>[风扇]</key>
	<string>081@2x.png</string>
	<key>[飞机]</key>
	<string>080@2x.png</string>
	<key>[馋嘴]</key>
	<string>007@2x.png</string>
	<key>[鲜花]</key>
	<string>108@2x.png</string>
	<key>[鼓掌]</key>
	<string>013@2x.png</string>
</dict>
</plist>
